<form action="/create" method="post">
    <h2>Create todo</h2>

    <div class="input-field">
        <input type="text" name="title">
        <label> Models title </label>
    </div>
    <div class="input-field">
        <input type="text" name="description">
        <label> Models description </label>
    </div>
    <button type="submit" class="btn">Create</button>
</form>

